.ui-li>.ui-btn-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
#header {
    height: 588px;
    width: 588px;
    margin: 2em auto;   
}


.ui-li-has-thumb, .ui-li-static.ui-li-has-thumb{
    max-height: 45px;
    padding-left: 10px;
    min-height: 30px;
}

.ui-li-thumb{
    max-height: 50px;
    max-width: 50px;
}

.ui-li .ui-btn-inner a.ui-link-inherit{
    padding: 0px 70px 20px;
}

.ui-mobile .ui-header{
    min-height: 35px;
}

.ui-btn-icon-right>.ui-btn-inner>.ui-icon{
   // margin-top: -19px;
}

.ui-li{
    max-height: 50px;
}

#owl-example .item{
    display: block;
    cursor: pointer;
    background: #42bdc2;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    padding: 20px 0;
}
#owl-example .item:hover{
    background: #F2CD00;
}


.ui-body-c, .ui-overlay-c{
    text-shadow: none;
    text-decoration: none;
}

.group{
    width: 150px;
}