.ui-li>.ui-btn-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
#header {
    height: 588px;
    width: 588px;
    margin: 2em auto;   
}


.ui-li-has-thumb, .ui-li-static.ui-li-has-thumb{
    //max-height: 45px;
    padding-left: 10px;
    min-height: 30px;
}

.ui-li-thumb{
    max-height: 50px;
    max-width: 50px;
    margin-top: -10px;
}

#days .ui-li .ui-btn-inner .ui-btn-text{
    padding: 0px 70px 20px;
}

.ui-mobile .ui-header{
    min-height: 39px;
}

.ui-btn-icon-right>.ui-btn-inner>.ui-icon{
    // margin-top: -19px;
}

.ui-li{
    //max-height: 50px;
}

.ui-body-c, .ui-overlay-c{
    text-shadow: none;
    text-decoration: none;
}

.group{
    width: 150px;
}

.count_friend{
    font-size: 0.6em;
}

#teac_details, #tasks{
    text-align: center;
}

.tasks-list thead th,
.tasks-list tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tasks-list tbody th,
.tasks-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.tasks-list tbody tr:last-child th,
.tasks-list tbody tr:last-child td {
    border-bottom: 0;
}
.tasks-list tbody tr:nth-child(odd) td,
.tasks-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}

.details{
    background-color:#ede;
    text-align: center;
    font-weight: normal;
}

#tasks-table-custom td{
    text-align: center;
}

#face_but{
    width: 202px;
    height: 46px;
    background: url(../images/active_404.png) no-repeat;
    border: none;

}

#face_but:hover{
    width: 202px;
    height: 46px;
    background-image: url(../images/pressed_404.png) no-repeat;
    border: none;

}

#name{
    font-size: 34px;
}

.btn-task{
    cursor: pointer;
}

#noNotifications {
    left: 32%;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    font-style:oblique;
    font-family:"Times New Roman", Times, serif;
    font-size:40px;
}

.ui-body-c, .ui-content, .ui-header,.ui-panel-animate.ui-panel-content-wrap{
    background-color: #6a7080;
    background-image: none;
}

div.ui-input-text {
    background-color: #565c6b;
    border: 2px solid #767b87;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;

}

input.ui-input-text {
    height: 48px;
    line-height: 48px;
    color: #ccced6;
    text-align: center;
    font-weight: normal;
}

#newGroup .ui-btn-up-c, #newGroup .ui-btn-hover-c {
    border: 0;
    background: #ccced6;
    font-weight: 200;
    text-shadow: none;
}

#newGroup div.ui-submit.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-hover-c, #newGroup div.ui-submit.ui-btn.ui-shadow.ui-btn-corner-all.ui-btn-up-c {
    background-color: #ccced6;
    margin: 25px;
    border-radius: 0.4em;
}

#newGroup span.ui-btn-text{
    color: #414551;
}

#coursesMy,#coursesSug, #newGroup{
    background-color: #4d5361;
    width:100%;
}

#newGroup .ui-btn-text{
    color:white;
}



#newGroup .ui-btn-inner{
    border-top:none;

}

#newGroup .ui-grid-a{
    width: 300px;

}

#tabs .ui-btn{
    background-color: #5b6170;
    height: 48px;
    background-image:none;
    border:0;
    color:#9fa5ba;
    text-shadow: none;
}

#tabs .ui-btn-text{
    line-height: 35px;
}

#tabs .ui-btn-active{
    background-color: #4d5361;
    height: 58px;
    color:#ccced6;
    font-weight: bold;
    margin-top: -10px;
    border-top-right-radius: 1em;
}


.ui-input-search{
    color:#b2b5bf;
    border:2px solid #b2b5bf;
    margin-left: 15px;
    margin-right: 15px;
}

#courses .ui-content{
    padding: 0
}


.courseBtn{
    background-color:white;
    border-top-width: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    height: 118px;
    background-image:none;
    cursor: pointer;
}

.courseBtn .ui-btn-inner{
    padding-top: 40px;
}

.courseBtnPurple{
    color: #bd81fd !important;
    border-top: 2px solid #bd81fd;

}

.courseBtnBlue{
    color: #3cceff !important;
    border-top: 2px solid #3cceff;

}

.courseBtnRed{
    color: #fd4646 !important;
    border-top: 2px solid #fd4646;

}


.newCourse{
    border:0;
    border-top: 2px solid #414551;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-color: #414551; 
    height: 118px;
    background-image:none;
    background-color: #6a7080;
}

.newCourse .ui-btn-inner{
    color:#aaaeb8;
    text-shadow: none;
    line-height: 90px;
}


#profile{
    margin:0;
}

#nav-panel{
    background-color: #4d5361;
    background-image: none;
}

#nav-panel a{
    background-color: #4d5361;
    background-image: none;
    color: #c3c5ce;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    border:0;
    text-align: left;
    border-radius: 0;
    -webkit-border-radius:0;
}

#nav-panel .ui-btn-inner{
    border:0;
}

.ui-panel-inner{
    padding: 0;
}

#sidebar .ui-btn-inner {
    width: 18px;
    height: 18px;
    border: none !important;
}
.ui-icon-custom {
    background: url(../images/sidebar.png) no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 !important;
}

.ui-header,.ui-header .ui-btn-up-d,.ui-header .ui-btn-hover-d {
    background-color: #6a7080;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    border:0;
    border-radius: 0;

}


/*.ui-btn-up-c{
    background-color: white;
}*/


.ui-header .ui-icon{
    border-radius: 0;
}

#sheets{
    padding-left: 80px;
    color: #414551;
    text-shadow: none;
    line-height:40px;
    font-size: 130%;
}

.ui-panel-display-reveal{
    -webkit-box-shadow:none;
    box-shadow:none;
}

a#addTaskBtn{
    border-radius: 0.5em;
    height: 210px;
    width: 210px;
    margin-left: 25px;
    background-color: white;
    background-image: url('../images/pencil.png') !important;
    background-repeat: no-repeat  !important;
    background-position: 50% 40%;

}

#addTaskBtn .ui-btn-inner{
    line-height: 190px;
    margin-left: 40px;
    color: #414551;
}